body {
    text-align: center;
}

header {
    text-align: center;
}

nav.header__nav {
    
    display: flex;
    justify-content: space-between;
}

ul.left {
    width: 80%;
    padding: 1em;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 1rem;
    padding-left: 0px;
    
    margin-left: 0;
    margin-right: 0;
    
    
    
}

ul.right {
   
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding-left: 0px;
    margin-left: 0;
}

#our_actors img, #photo img {
  max-width: 95%;
height: auto;
}




table {
    margin: auto;
}

table, thead, td, tbody, tr, th {
   
    text-align: center;
    border-collapse: collapse;
    border: 1px solid grey;
}

a.button {
    display: inline-block;
    background: #2196f3;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
  }

  div {
    margin: 24px;
    text-align: center;
  }

  img.photo {
    width: 400px;
  }

  div.sponsor {
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
    
  }

  img.sponsor {
    width: 50px
  }

  footer {
    display: flex;
  }

  nav ul.footer {
    width: 90%;
    padding: 1em;
    
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 1rem;
}

li.footer {
    width: 90%;
    
    
}

@media screen and (min-width: 576px) {
  nav.header__nav {
    background: #2196f3;
  }
    
}
 
@media screen and (min-width: 768px) {
  nav.header__nav {
    background: #111;
  }
    
  ul.left {
    width: 40%;
   
}

ul.right {
   
  
  gap: 15px;
 
}

li.right {
  scale: 1.2;
}

#our_actors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);


}

@media screen and (min-width: 992px) {
  nav.header__nav {
    background: wheat;
  }

  ul.left {
    width: 35%;
  }




@media screen and (min-width: 1200px) {
  nav.header__nav {
    background: seagreen;
    }
    
    #our_actors {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

  #photo {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    
    
    }

    ul.left {
      width: 25%;