body {
  background-color: blanchedalmond;
    text-align: center;
}

header {
  background-color: aqua;
    text-align: center;
}

h1 {
  font: 2em sans-serif;
  font-weight: 500;
  font-style: italic;
  color: rgba(98, 1, 110, 0.927);
}

h2 {
  
    font: 2em sans-serif;
    font-weight: 500;
    font-style: italic;
    color: black;
  
}

div.containter containter-nav {
  margin-right: 0;
}

nav.header__nav {
  background-color: white;
  font: 1em sans-serif;
  font-weight: 100;
  font-style: italic;
  color: black;
    display: flex;
    justify-content: space-between;
}

ul.left {
    width: 80%;
    padding: 1em;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 1rem;
    padding-left: 0px;
    margin-left: 0;
    margin-right: 0;
    
    
    
}

ul.right {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding-left: 0px;
    margin-left: 0;
}

#our_actors img, #photo img {
  max-width: 95%;
height: auto;
}

figcaption {
  font: sans-serif;
  font-weight: 100;
  font-style: italic;
  color: purple;
}

table {
    margin: auto;
}

table, thead, td, tbody, tr, th {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid grey;
}

a.button {
  margin: 1rem;
    display: inline-block;
    background: #2196f3;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
  }

  img.photo {
    width: 400px;
  }

  div.sponsor {
    padding: 1rem;
    margin: 1rem;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
  }

  img.sponsor {
    width: 50px
  }

  footer {
    background-color: aqua;
    display: flex;
  }

  nav ul.footer {
    width: 90%;
    padding: 1em;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 1rem;
}

li.footer {
  width: 90%;
 }

@media screen and (min-width: 768px) {
  ul.left {
    width: 40%;
}

ul.right {
  gap: 15px;
}

li.right {
  scale: 1.2;
}

#our_actors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 992px) {
  ul.left {
    width: 35%;
  }

@media screen and (min-width: 1200px) {
    #our_actors {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

  #photo {
    display: flex;
    height: auto;
    }

    ul.left {
      width: 25%;
    }